body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 100%;
}

.logo {
  width: 30%;
  float: left;
}

.logo img {
  height: 96px;
  border: none;
  margin-left: 20px;
}

.nav {
  display: block;
  float: right;
  width: 70%;
  height: 96px;
  padding: 0;
  margin:0 auto;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav ul{
  margin: auto;
  padding-left: 0;
  padding-right: 50px;
  height: 100%;
  text-align: right;
}

.nav ul li {
  display: inline-block;
  padding: 30.5px 20px;
  margin-right: -4px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.display {
  height: 100%;
}

.display-text {
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 25%;
  padding-left: 20px;
  font-size: 80px;
  color: white;
}

.display .display-text h1 {
  margin: 0;
  padding: 0;
}

.display .display-text h3 {
  margin: 0;
  padding: 0;
}

.display .display-video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.display .display-video video {
  /* Make video to at least 100% wide and tall */
 min-width: 100%;
 min-height: 100%;

 /* Setting width & height to auto prevents the browser from stretching or squishing the video */
 width: auto;
 height: auto;

 /* Center the video */
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

.news-events {
  height: 50%;
  padding: 0px 100px;
}

.news-events h2 {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px 0;
  font-size: 40px;
  margin: 0;
}

.news-events .news-blocks div {
  font-family: 'Roboto Mono', sans-serif;
  display: inline-block;
  width: 15%;
  margin: 10px 10px 10px 0px;
  padding: 15px 15px;
  border-style: solid;
  border-width: 3px;
}

.news-events .news-blocks div h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}
